@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Raleway:wght@100;200&display=swap');

/*@font-face {
  font-family: Raleway;
  src: url("{{ url_for('static', filename='css/Raleway/Raleway-VariableFont_wght.ttf') }}");
}*/

html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: Raleway, Arial;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Avenir;
  font-weight: 300;
}

h1 {
  text-align: center;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: #08f;
}

a:hover {
  text-decoration: underline;
  color: #48a;
}

input, input[type=submit], button, select {
  margin: .5rem;
  border: none;
  padding: .2rem 1rem;
  background: linear-gradient(#ededed, #fafafa);
  border-radius: .2rem;
  outline: none;
}

button {
  background: linear-gradient(#f0f0f0, #e0e0e0);
}

button:hover {
  background: #e8e8e8;
}

button:active {
  background: linear-gradient(#e0e0e0, #f0f0f0);
}
