<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' href='static/css/style.css'>
        <link rel='stylesheet' type='text/css' href='static/css/index.css'>
    </head>
    <body>
        <div class='background'></div>
        <div class='main'>
            <div class='section'>
                <h1>Spenflo</h1>
                <p>Welcome to Spenflo! This a great place to keep track of your personal
                finances. From accounting and cashflow to budget, cashburn and stats, we've built a simple, streamlined
                service that will keep you in tip-top financial shape!</p>
            </div>

            <div class='section'>
                <h2>Cashburn</h2>
                <p><a href='/app'>Cashburn</a> lets you know how much you're spending relative to a period of time,
                such as your pay period. With cashburn, you can know whether or not you're overspending.</p>
            </div>

            <div class='section'>
                <h2>Stats</h2>
                <p><a href='/app#stats'>Stats</a> give a general overview of your financial health with metrics like wealth,
                spending rate, debt load, etc.</p>
            </div>

            <div class='section'>
                <h2>Budget</h2>
                <p>Your <a href='/app#budget'>budget</a> should be simple. What matters most are paying bills, saving money,
                and knowing how much you can spend. Spending money is important. Without it, you might just get discouraged
                and give up on the whole thing :(</p>
            </div>

            <div class='section'>
                <h2>Accounts</h2>
                <p><a href='/app/accounting'>Accounts</a> keeps track of your accounts and provides the starting and anchor point for all other finacial matters.</p>
            </div>

            <div class='section'>
                <h2>Transactions</h2>
                <p><a href='/app/accounting'>Transactions</a> helps you record each of your transactions and do some basic accounting to aid your budget and cashburn.</p>
            </div>

            <div class='section'>
                <h2>Income</h2>
                <p><a href='/app/cashflow'>Income</a> is what you get paid or money you receive. Adding these in at the beginning and when something changes, will help
                establish the positive cashflow side of your budget.</p>
            </div>

            <div class='section'>
                <h2>Expenses</h2>
                <p><a href='/app/cashflow'>Expenses</a> are what you pay out, such as bills and other regular expenses. Adding these in at the beginning and when something changes, will help establish the negative cashflow side of your budget.</p>
            </div>

            <div class='section'>
                <h2>Targets</h2>
                <p><a href='/app/cashflow'>Targets</a> are a powerful tool to help you forecast the future of your spending.
                With targets you can set future expenses, like a wishlist, then have those expenses roll back into your
                budget. With targets you can always stay on top of your expenses!</p>
            </div>
        </div>
    </body>
</html>
