{% macro budget(user_id, _budget) -%}
<link rel=stylesheet type=text/css href={{ url_for('static', filename='css/components/budget.css') }}>

<div id=budget class=budget>
  <h1><a href=/app/glossary#glossary-budget>Budget</a></h1>
  <div class=main>
    <div class=cycle-selector>
      <label>Cycle Selector</label>
      <div class=selectors>
        <form method=GET action=/app/budget/refresh_cycle>
          <select name=cycle_int>
            {% for i in range(1, 100) %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
          </select>
          <select name=cycle_str>
            <option value=day(s)>Day(s)</option>
            <option value=week(s)>Week(s)</option>
            <option value=month(s)>Month(s)</option>
            <option value=year(s)>Year(s)</option>
          </select>
          <input type=submit value=Change>
        </form>
      </div>
    </div>
    <div class=stats>
      <table>
        <tr>
          <th>For Bills</th>
          <th>For Savings</th>
          <th>For Spending</th>
        </tr>
        <tr>
          <td class=red>{{ _budget.bills }}</td>
          <td class=blue>{{ _budget.savings }}</td>
          <td class=green>{{ _budget.spending }}</td>
      </table>
    </div>
    <div class=categorical>
      <h1><a href=/app/glossary#glossary-spending-by-category>Spending by Category</a></h1>
      <div class=graphs><img src='/static/media/{{ user_id }}/budget_categories.png'/></div>
      <div class=tables>
        <div class=current>
          <label>Current Spending <b>${{ _budget.categories.current_spending_total|round(2) }}</b></label>
          <label>(this Pay Period)</label>
          <table>
            <tr>
              <th>Category</th>
              <th>Spending</th>
              <th>% of Spending</th>
              <th>Expenses</th>
              <th>% of Expenses</th>
            </tr>
            {% for category in _budget.categories.current %}
            <tr>
              <td>{{ category.category }}</td>
              <td>${{ category.spending|round(2) }}</td>
              <td>{{ (category.spending_percentage * 100)|round(1) }}%</td>
              <td>${{ category.expense|round(2) }}</td>
              <td>{{ (category.expense_percentage * 100)|round(1) }}%</td>
            </tr>
            {% endfor %}
            
          </table>
        </div>
        <div class=historical>
          <label>Historical Spending <b> ${{ _budget.categories.historical_spending_total|round(2) }}</b></label>
          <label>(all time)</label>
          <table>
            <tr>
              <th>Category</th>
              <th>Spending</th>
              <th>% of Spending</th>
              <th>Expenses</th>
              <th>% of Expenses</th>
            </tr>
            {% for category in _budget.categories.historical %}
            <tr>
              <td>{{ category.category }}</td>
              <td>${{ category.spending|round(2) }}</td>
              <td>{{ (category.spending_percentage * 100)|round(1) }}%</td>
              <td>${{ category.expense|round(2) }}</td>
              <td>{{ (category.expense_percentage * 100)|round(1) }}%</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </div>
</div>
{%- endmacro %}
