{% macro footer() -%}
  <link rel='stylesheet' type='text/css' href={{ url_for('static', filename='css/components/footer.css') }}>
  <div class='footer'>
    <div class='columns'>
      <div class='column'>
        <h2>Spenflo</h2>
      </div>
      <div class='column'>
        <h3>Services</h3>
        <a href='/app/dashboard'>Dashboard</a>
        <a href='/app/accounting'>Accounting</a>
        <a href='/app/cashflow'>Cashflow</a>
      </div>
      <div class='column'>
        <h3>Legal</h3>
        <a>Terms of Service</a>
        <a>Privacy Policy</a>
      </div>
      <div class='column'>
        <h3>Company</h3>
        <a>About Us</a>
        <a>Contact</a>
      </div>
      <div class='column'>
        <h3>Partners</h3>
      </div>
    </div>
    <div class='reserved'>Spenflo &bull; All Rights Reserved ©2022 &bull; Powered
    by GeniuSoft</div>
  </div>
{%- endmacro %}
